{% extends 'base.html.twig' %}

{% block title %}Book Controller
{% endblock %}

{% block body %}
	<h1>Livres
	</h2>
	{% for book in books %}
		<li>{{ book.titre }}
			by
			{{ book.auteur }}</li>
		<a href="{{ path('book_show', {'id': book.id}) }}">Voir</a>

	{% else %}
		<li>No books found</li>
	{% endfor %}

{% endblock %}
